<div class="equipos__contenedor">
  <p-table
    [value]="(equipos | async) ?? []"
    selectionMode="single"
    [(selection)]="equipoSeleccionado"
    dataKey="id"
    responsiveLayout="scroll"
    [style]="{ width: '100%', height: '100%' }"
    [scrollable]="true"
    scrollHeight="600px"
    [loading]="(equipos | async) == null"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <div class="flex">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-arrow-left"
            class="p-button-rounded p-button-info p-button-text"
            routerLink="/ligas"
            pTooltip="Ver las ligas"
          ></button>
          <h2 class="text-sm md:text-lg">
            Equipos de la liga {{ nombreDeLaLiga | async }}
          </h2>
        </div>
        <div>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-plus"
            class="p-button-outlined p-button-rounded p-button-success"
            (click)="creando = true; abrirDialogo()"
            pTooltip="De alta a un equipo"
          ></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Logo</th>
        <th>Nombre</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipo>
      <tr
        [pSelectableRow]="equipo"
        [routerLink]="[
          equipo['id'],
          'jugadores',
          { nombreDelEquipo: equipo['Nombre del equipo'] }
        ]"
      >
        <p-avatar [image]="equipo['Logo del Equipo']" size="xlarge"></p-avatar>
        <td>{{ equipo["Nombre del equipo"] }}</td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-pencil"
          class="p-button-outlined p-button-rounded p-button-success mr-2"
          [pTooltip]="'Editar ' + equipo['Nombre del equipo']"
          tooltipPosition="left"
          (click)="creando = false; onEditarEquipo(equipo, $event)"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-outlined p-button-rounded p-button-danger mr-2"
          [pTooltip]="'Eliminar ' + equipo['Nombre del equipo']"
          (click)="confirmarEliminarEquipo(equipo, $event)"
        ></button>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="equipos__contenedor">
  <router-outlet
    #routerOutlet
    (deactivate)="rutaDesactivada()"
    (activate)="rutaActivada()"
  >
  </router-outlet>
  <h3
    class="text-xs sm:text-lg flex h-full"
    style="margin: 0 1.5rem"
    *ngIf="mostrarMensaje"
  >
    Seleccione un equipo para ver sus jugadores
  </h3>
</div>

<p-dialog
  [breakpoints]="{ '1200px': '40vw', '960px': '50vw', '640px': '100vw' }"
  [style]="{ width: '25vw' }"
  [modal]="true"
  [header]="creando ? 'Crear equipo' : 'Editar equipo'"
  [(visible)]="dialogoAbierto"
>
  <div class="text-center" *ngIf="cargando; else form">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #form>
    <form [formGroup]="formularioDeEquipo" class="p-fluid">
      <div class="input__container">
        <label for="nombre-de-equipo">Nombre del equipo</label>
        <input
          formControlName="Nombre del equipo"
          id="nombre-de-equipo"
          type="text"
          pInputText
        />
        <small
          *ngIf="
            formularioDeEquipo.controls['Nombre del equipo'].invalid &&
            formularioDeEquipo.controls['Nombre del equipo'].touched
          "
          class="p-error"
          >Nombre del equipo requerido
        </small>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button
        [disabled]="formularioDeEquipo.invalid"
        pButton
        pRipple
        type="button"
        [label]="creando ? 'Crear' : 'Guardar'"
        [icon]="creando ? 'pi pi-plus' : 'pi pi-save'"
        class="p-button-outlined p-button-rounded p-button-success"
        (click)="creando ? crearEquipo() : editarEquipo()"
      ></button>
    </ng-template>
  </ng-template>
</p-dialog>

<p-confirmDialog
  [breakpoints]="{
    '1464px': '35vw',
    '1255px': '50vw',
    '960px': '75vw',
    '640px': '100vw'
  }"
  [style]="{ width: '30vw' }"
  header="Confirmación"
  icon="pi pi-exclamation-triangle"
  key="dialogoDeConfirmacionParaEliminar"
></p-confirmDialog>
