:host {
  width: 100%;
}

.ligas__dataview--header {
  display: flex;
  justify-content: space-between;
}

.ligas__dataview--listitem {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  &:hover {
    @extend .ligas__elevacion--onhover;
  }
}

:host::ng-deep .ligas__dataview--griditem {
  &:hover {
    @extend .ligas__elevacion--onhover;
  }
}

.ligas__elevacion--onhover {
  transform: scale(1.03);
  transition: transform 0.2s;
  background-color: #f0f0f0;
}

:host::ng-deep .p-dataview-content .p-grid {
  justify-content: center;
}

@media (min-device-width: 768px) {
  :host {
    width: 80%;
  }
}
