:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p-dataView {
  height: 100%;
}

.ligas__buscador {
  border-radius: 30px;
  position: relative;
  width: 80%;
}

.ligas__buscador--icono {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

:host::ng-deep p-autoComplete {
  width: 100%;
  span {
    width: 100%;
    input {
      width: 100%;
      border-radius: 30px;
      height: 50px;
      padding-left: 40px;
    }
  }
}

.ligas__dataview--header {
  display: flex;
  justify-content: space-between;
}

.ligas__dataview--listitem {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  &:hover {
    @extend .ligas__elevacion--onhover;
  }
}

:host::ng-deep .ligas__dataview--griditem {
  &:hover {
    @extend .ligas__elevacion--onhover;
  }
}

.ligas__elevacion--onhover {
  transform: scale(1.03);
  transition: transform 0.2s;
  background-color: #f0f0f0;
}

:host::ng-deep .p-dataview-content .p-grid {
  justify-content: center;
}

@media (min-device-width: 768px) {
  :host {
    width: 80%;
  }
}
