<p-table
  [value]="(jugadores | async) ?? []"
  selectionMode="single"
  [(selection)]="jugadorSeleccionado"
  dataKey="id"
  responsiveLayout="scroll"
  [style]="{ width: '100%', height: '100%' }"
  [scrollable]="true"
  scrollHeight="600px"
  [loading]="(jugadores | async) == null"
>
  <ng-template pTemplate="caption">
    <div class="flex gap justify-content-between">
      <h2 class="text-sm md:text-lg">
        Jugadores del equipo {{ nombreDelEquipo }}
      </h2>
      <div>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-outlined p-button-rounded p-button-success"
          pTooltip="De alta a un jugador"
          (click)="creando = true; abrirDialogo()"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jugador>
    <tr [pSelectableRow]="jugador">
      <p-avatar [image]="jugador['Avatar']" size="xlarge"></p-avatar>
      <td>{{ jugador["Nombre del Jugador"] }}</td>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-pencil"
        class="p-button-text p-button-rounded p-button-success mr-2"
        [pTooltip]="'Editar ' + jugador['Nombre del Jugador']"
        tooltipPosition="left"
        (click)="creando = false; onEditarJugador(jugador, $event)"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        class="p-button-text p-button-rounded p-button-danger mr-2"
        [pTooltip]="'Dar baja a ' + jugador['Nombre del Jugador']"
        (click)="confirmarEliminarJugador(jugador)"
      ></button>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [breakpoints]="{ '1200px': '40vw', '960px': '50vw', '640px': '100vw' }"
  [style]="{ width: '25vw' }"
  [modal]="true"
  [header]="creando ? 'Crear jugador' : 'Editar jugador'"
  [(visible)]="dialogoAbierto"
>
  <div class="text-center" *ngIf="cargando; else form">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ng-template #form>
    <form [formGroup]="formularioDeJugador" class="p-fluid">
      <div class="input__container">
        <label for="nombre-de-jugador">Nombre del Jugador</label>
        <input
          formControlName="Nombre del Jugador"
          id="nombre-de-jugador"
          type="text"
          pInputText
        />
        <small
          *ngIf="
            formularioDeJugador.controls['Nombre del Jugador'].invalid &&
            formularioDeJugador.controls['Nombre del Jugador'].touched
          "
          class="p-error"
          >Nombre del jugador requerido
        </small>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button
        [disabled]="formularioDeJugador.invalid"
        pButton
        pRipple
        type="button"
        [label]="creando ? 'Crear' : 'Guardar'"
        [icon]="creando ? 'pi pi-plus' : 'pi pi-save'"
        class="p-button-outlined p-button-rounded p-button-success"
        (click)="creando ? crearJugador() : editarJugador()"
      ></button>
    </ng-template>
  </ng-template>
</p-dialog>
